.input1{
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  outline: .5px solid;
  padding: 20px;
  height: 300px;
  /* margin-top: 25px; */
  /* margin-left: 20px; */
  border-radius: 10px;
  /* background-color: white; */
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.151);
  color: black;
 
}
.btn1{
  position: relative;
  top:8px;
  z-index: 1;
}
.input2{
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  outline: 1px solid;
  padding: 20px;
  height: 300px;
  margin-top: 20px;
  /* margin-left: 20px; */
  border-radius: 10px;
  background-color: white;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.2);
  color: black;
}
p{
  text-align: justify;
  font-weight: 500;
}
.seccol{
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.2);
  color: black;
  padding: 20px; 
  border-radius: 10px;
  outline: 1px solid;
}
.box{
  width:600px;
  height: 60px;
  background-color: aliceblue;
  /* outline: 1px solid; */
  border-radius: 10px;
  margin: 20px;
}
#item1{
  background-color:#3D314A;
  padding-left: 10px;
  color: white;
  font-size: 12px;
}
#item2{
  background-color:#684756;
  padding-left: 10px;
  color: white;
  font-size: 12px;

}
#item3{
  background-color:#96705B;
  padding-left: 10px;
  font-size: 12px;
}
#item4{
  background-color:#AB8476;
  padding-left: 10px;
  font-size: 12px;
}
@media (max-width:400px) {
  .input1,.input2{
    position: relative;
    left: 50px; 
  }
  .seccol{
    margin-top: 20px;
    position: relative;
    left: 0px;
  }
.box{
  width: 40px;
}

}